body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #3494e6, #ec6ead);
}


.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px;
}

.message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.reset-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.winner {
    background-color: #46c946; 
}

.vibrate {
    animation: vibrate 0.2s ease-in-out infinite;
}

@keyframes vibrate {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}